<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415857317299-q67ov7rf28o8o59ifrab7ejqtnqdhj3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415857317299-q67ov7rf28o8o59ifrab7ejqtnqdhj3u</string>
	<key>API_KEY</key>
	<string>AIzaSyCuK9yuFs-YW2oLlBmz-ZV_akNWQFlUUCM</string>
	<key>GCM_SENDER_ID</key>
	<string>415857317299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.culture</string>
	<key>PROJECT_ID</key>
	<string>culture556</string>
	<key>STORAGE_BUCKET</key>
	<string>culture556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415857317299:ios:a86a08d714cb8943de67c6</string>
</dict>
</plist>